{%macro displaySourceList(sourceList) %} {%for source in sourceList %}

<div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 block">
  <h4 style="color: #fff">{{ source.name}}</h4>
  <a
    href="{{source.url}}"
    class="btn btn-sm"
    style="color: #fff; background: linear-gradient(#00bbf9, #00a6fb, #00bbf9)"
    >Click for More!!</a
  >
</div>
{%endfor%} {% endmacro %} {% macro displayNewsList(news_list) %} {% for news in
news_list %}
<div class="col-lg-2">
  <img src="{{ news.urlToImage }}" alt="image" class="img-responsive" />
  <div class="text-center" style="color: #fff">
    <p>Author:-{{news.author}}</p>
    <p>{{news.title|truncate(25)}}</p>
    <p>Published On: <em>{{news.publishedAt|truncate(13)}}</em></p>
    <a
      href="{{news.url}}"
      class="btn btn-sm"
      style="
        color: #fff;
        background: linear-gradient(#00bbf9, #00a6fb, #00bbf9);
      "
    >
      Click for More</a
    >
  </div>
</div>

{% endfor %} {% endmacro %}
